@charset "utf-8";
/* CSS Document */
body{
	font:12px "微软雅黑";
}

.wd{
	width:1200px;
	margin:0 auto;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;	
}

.clearfix{zoom:1;}

.fr{
	float:right;	
}

.fl{
	float:left;
}


