@charset "utf-8";
/* CSS Document */

/*header*/
#header{
	height:90px;
	background-color:#2e323e;
	line-height:90px;	
}

#header h1,#header li,#header .fr{
	
	height:90px;
}
#header h1 a{
	display:inline-block;
	width:240px;
	height:90px;
	background:url(../img/logo.png) left center no-repeat;	
}
#header ul{
	margin-left:30px;	
}
#header li{
	float:left;	
}
#header li > a{
	display:inline-block;
	font-size:18px;
	color:#fff;
	padding:0 30px;	
}
#header li > a:hover{
	background-color:#232730;
}
#header .down{
	position:relative;	
}
#header > a{
	position: relative;
}  
#header .appdown{
	position:absolute;
	display:none;
	background-color:#fff;
	left:-112px;
	top:72px;
	padding:10px;
	z-index:2;	
}
.appdown h2{
	height:20px;
	line-height:20px;
	margin-bottom:20px;	
}
.appdown .ercode{
	height:140px;
}
.appdown .arrow{
	position:absolute;
	border:10px solid transparent;
	border-bottom:10px solid #fff;
	left:160px;
	top:-20px;
}
.appresourse{
	width:340px;
}
.appresourse .apple,.appresourse .android{
	width:180px;
	height:55px;
	margin-left:10px;
	display:block;
}
#header .apple{
	margin-bottom:20px;
	background:url(../img/spriteIcon.png) no-repeat 0 -638px;
}
#header .android{
	background: url(../img/spriteIcon.png) no-repeat 0 -716px;
}
/*#header .search-wrap{
	display:inline-block;
	position:relative;
}*/    
#header .search-wrap{
	display:inline-block;
}
.search-wrap{
	height:30px;
	line-height:30px;
	border:1px solid #ccc;
	border-radius:3px;
	padding-left:10px;
	background-color:#ccc;
}
.search-wrap input{
	margin-left:5px;
	border:none;
	height:29px;
	background-color:#ccc;
}
#header .right > a{
	color:#ccc;
	font-size:14px;
	padding:0 5px;
}
/*header部分over*/

/*banner start*/
#banner{
	width:100%;
	position:relative;
	height:490px;
}
.banner-img img{
	width:100%;
	height:490px;
}
#banner span.ls,#banner span.rs{
	position:absolute;
	font-size:55px;
	width:56px;
	height:100px;
	top:50%;
	margin-top:-50px;
	background-color:#666;
	line-height:100px;
	text-align:center;
	color:#fff;
	filter:alpha(opacity:0);
	opacity: 0;
	cursor:pointer;
}
span.ls{
	left:0;
}
span.rs{
	right:0;
}
#banner .dot{
	position:absolute;
	left:590px;
	bottom:20px;
}
#banner .dot .active{
	background-color:yellowgreen;
}
#banner .dot li{
	float:left;
	width:16px;
	height:16px;
	border-radius: 50%;
	margin-left:5px;
	background-color: #ccc;
	cursor:pointer;
}

/*banner over*/

/*advise*/
.advise{
	margin-top:40px;
}
.advise .title{
	font-size:18px;
	line-height:40px;
}
.advise .line{
	width:1116px;
	border-bottom:1px solid #ccc;
	display: inline-block;
}
.advise .content > ul{
	border:1px solid #ccc;
	width:240px;
	margin-top:20px;
	position:relative;
}
.advise .content li a{
	display: block;
	line-height:86px;
	padding-left:70px;
	border-left:3px solid #fff;
}
.advise .content i{
	display:inline-block;
	margin-right:10px;
	background-image: url(../img/classicon.png);
	vertical-align: -6px;
}
.advise .content .icon1{
	width: 24px; 
	height: 24px;	
}
.advise .content .icon2{
	width: 25px; 
	height: 24px;
	background-position: 1px -30px;	
}
.advise .content .icon3{
	width: 24px; 
	height: 24px;
	background-position: 1px -60px;	
}
.advise .content .icon4{
	width: 24px; 
	height: 24px;
	background-position:left -90px;	
}
.advise .content .icon5{
	width: 24px; 
	height: 24px;
	background-position:left -120px;	
}
.advise .content .icon6{
	width: 24px; 
	height: 26px;
	background-position: 1px -150px;	
}
.advise .content .icon7{
	width: 24px; 
	height: 24px;
	background-position: 1px -180px;	
}
.advise .content li a:hover{
	border-left:3px solid yellowgreen;
	background-color: #f5f5f5;
}
.advise .content li a:hover i{
	background-position-x: -130px;
}
.advise .content a{
	font-size:20px;
}
/*list_details部分*/
.list_details{
	position: absolute;
	left:260px;
	top:0;
	width:945px;	
}
.list_details img{
	width:390px;
	height:220px;
}
.list_details h2{
	margin-bottom:10px;
}
.list_details h2 a{
	font-size:20px;
	color:#333;
	font-weight: normal;
}
.list_details h2 a:hover,.advise .list_details p a:hover{
	color:seagreen;
}
.advise .list_details p a{
	padding-left: 20px;
	font-size:14px;
	color:#333;
}
.advise .list_details ul{
	width:550px;
	margin-top:30px;
}
.advise .list_details li{
	padding:0 10px;
	width:160px;
	text-align:center;
}
.advise .list_details{
	color:#666;
	font-size: 12px;
	display:none;
}
.advise .list_details li div{
	border-right:1px solid #ccc;
	margin-bottom:15px;
}
.advise .list_details li div i{
	display: inline-block;
	width:70px;
	height:70px;
	background: url(../img/classicon.png) no-repeat;
}
.advise .list_details .people{
	background-position: 0 -212px;
}
.advise .list_details .course{
	background-position: -80px -212px;
}
.advise .list_details .released{
	background-position: -156px -212px;
}
.list_details .bottom{
	margin-top:20px;
}
.list_details .bottom dt{
	font-size:18px;
	color:#2e323e;
	margin-bottom:20px;
}
.list_details .bottom dd{
	margin:0;
	background-color:#f5f5f5;
	padding:10px 30px;
}
.list_details .bottom dd h2{
	font-weight:normal;
	font-size:18px;
}
.list_details .bottom dd a{
	color:#666;
	font-size:12px;
	line-height:20px;
}
.list_details .bottom dd a:hover{
	color:#21a557;
}
/*advise over*/

/*coop start*/
#coop{
	margin-top:20px;
}
#coop .line div{
	width:524px;
	border-bottom:1px solid #ccc;
	margin-top:12px;
}
#coop .line a{
	color:#9acd32;
	font-size:18px;
	padding:0 10px;
}
#coop .school a{
	display: inline-block;
	margin:35px 22px;
}
/*coop over*/

/*course*/
#course{
	background-color:#f5f5f5;
	height:1300px;
}
#course .title{
	font-size:36px;
	padding-top:80px;
	padding-bottom:25px;
	text-align: center;
	font-weight:300;
	border-bottom:1px solid #ccc;
	margin-bottom:50px;
}
#course .title span{
	padding-bottom: 24px;
	border-bottom:3px solid #9acd32;
}
#course .details li{
	float:left;
	width:285px;
	height:288px;
	background-color:#fff;
	color:#999;
	margin-left:26px;
	margin-bottom:25px;
	cursor:pointer;
	overflow:hidden;
	position:relative;	
}
#course .details .content{
	position:relative;
	top:0;
	/*z-index:2;*/
}   
#course .details .zhezhao{
	position:absolute;
	bottom:0;
	left:0;
	width:285px;
	height:40px;
	background-color:#fff;
	/*z-index:5;*/
}
#course .details .name{
	font-size:16px;
	color:#666;
	margin:12px 0;
	margin-left:10px;
}
#course .details li:hover .name{
	color:#9acd32;	
}
#course .details .content a{
	color:#999;
	margin-left:10px;
}
#course .details .content .intro{
	margin-left:10px;
	margin-top:15px;
	margin-top:17px\9;
}
#course .moreclass .inner{
	text-align: center;
	width:720px;
	height:60px;
	background-color: #e6e6e6;
	margin:30px auto;
	line-height:60px;
	border-radius:6px;
}
#course .moreclass .inner a{
	font-size:20px;
	color:#9acd32;
	font-weight: bold;
}
#course .moreclass .inner a:hover{
	text-decoration:underline;
}

/*course over*/

.login-area{
	background-color:#4899c0;	
}
.login-area .title{
	color:#fff;
	text-align:center;
	padding-top:60px;
	margin-bottom:40px;
}
.login-area .title h1{
	font-size:35px;
	font-weight:normal;
	padding-bottom: 20px;
	border-bottom:1px solid #ccc;
}
.login-area .title p{
	font-size:25px;
	margin:30px 0;
}
.login{
	width:660px;
	margin:0 auto;
	background-color: #fff;
}
.login .login-box{
	width:440px;
}
.login .login_control{
	border-bottom:1px solid #ccc;
	padding-top:40px;
	font-size:18px;
}
.login .login_control a{
	color:#666;
	margin-left:20px;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.login .login_control a span{
	position:absolute;
	top:45px;
	left:2px;
	width:178px;
	border-bottom: 4px solid #9acd32;
	display: none;
}
.login-box .bottom{
	margin-top:25px;
	margin-left:60px;
}
.login-box .bottom .email,.login-box .bottom .pass{
	width:260px;
	height:45px;
	border:1px solid #ccc;
	padding-left:40px;
	margin-bottom:15px;
}
.login-box .bottom .email input,.login-box .bottom .pass input{
	font-size:14px;
	border:none;
	font-family: "微软雅黑";
	width:220px;
	height:40px;
}
.login-box .bottom .btn{
	width:260px;
	height:45px;
	background-color:#a2c54d;
	border-radius:3px;
	border:none;
	color:#fff;
	font-size:22px;
	cursor:pointer;
}
.login-box .bottom .subs,.login-box .bottom1 .subs{
	margin-top:10px;
	font-size:14px;
	color:#999;
}
.login-box .bottom .subs a,.login-box .bottom1 .subs a{
	color:#999;

}
.login-box .bottom .subs a:hover,.login-box .bottom1 .subs a:hover{
	text-decoration:underline;
	color:#666;
}

/*bottom1*/
.login-box .bottom1{
	margin-top:25px;
	margin-left:60px;
	display:none;
}
.login-box .bottom1 .email,.login-box .bottom1 .pass{
	border:1px solid #ccc;
	width:290px;
	height:45px;
	padding-left: 40px;
	margin-bottom:15px;
}
.login-box .bottom1 .email input,.login-box .bottom1 .pass input{
	font-size:14px;
	font-family:"微软雅黑";
	width:255px;
	height:40px;
	border:none;
}
.login-box .bottom1 .btn{
	width:260px;
	height:45px;
	background-color: #69b1f8;
	border-radius: 3px;
	border:none;
	color:#fff;
	font-size:22px;
	cursor:pointer;
}
/*bottom1 over*/

.speed-login{
	border-left:1px solid #ccc;
}
.speed-login a{
	color:#999;
	line-height:100px;
	margin-left:30px;
	font-size:13px;
}
.speed-login li span{
	width:50px;
	height:50px;
	display: block;
	border-radius: 50%;
	background-color:#fff;	
	background-repeat: no-repeat;
	border:1px solid #ccc;
	margin-left:74px;
	margin-bottom:20px;
	cursor:pointer;
}
.speed-login li .weixin{
	background-image:url(../img/weixin.PNG);
	background-position: 8px 10px;
}
.speed-login li .qq{
	background-image:url(../img/qq.PNG);
	background-position: 8px 7px;
}
.speed-login li .weibo{
	background-image:url(../img/weibo.PNG);
	background-position: 5px 8px;
}
.speed-login li .renren{
	background-image:url(../img/renren.PNG);
	background-position: 10px 10px;
}

/*footer*/
#footer{
	background-color: #333;
	padding-top: 35px;
}
#footer .logo{
	width:190px;
}
#footer .list p{
	line-height:25px;
	margin-top:20px;
}
#footer .list li{
	float:left;
	width:320px;
	color:#999;
	margin-left:15px;
}
#footer .list li.about{
	margin-left:225px;
	margin-right:125px;
}
#footer .list .inner{
	margin-left:20px;
}
#footer .list .inner div{
	width:50px;
	font-size:12px;
	margin-top:20px;
	margin-right:60px;
}
#footer .list .inner a{
	color:#999;
	line-height:40px;
}
#footer .list .inner a:hover{
	color:#61a500;
}
#footer .list h1{
	font-size:20px;
	color:#ccc;
	font-weight:normal;
	padding-left:20px;
	border-left:1px solid #999;
}
#footer .list .concern span{
	display: inline-block;
	width:50px;
	height:50px;
	border-radius:50%;
	background-color: #ccc;
	border:1px solid #ccc;
	margin-left:20px;
	margin-top:20px;
	background-repeat: no-repeat;
	cursor:pointer;
}
#footer .list .concern .weibo{
	background-image: url(../img/weibo.PNG);
	background-position:5px 8px;
}
#footer .list .concern .weixin{
	background-image: url(../img/weixin.PNG);	
	background-position:8px 10px; 
}
#footer .bottom{
	margin-top:10px;
	text-align:center;
	color:#666;
}
#footer .bottom a{
	color:#666;
	line-height:25px;
}
#footer .bottom a:hover{
	color:#2b9358;
}
#footer .bottom p{
	padding-bottom: 10px;
}
/*footer over*/
